{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<section id="{{ $name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">
    <div class="row">
      <div class="col text-center text-body
      ">
        <!--
        {{- if eq $bg "dark" -}}
          {{- printf " text-%s" "light" -}}
        {{- else -}}
          {{- printf " text-%s" "dark" -}}
        {{- end -}}
        -->
        <h2>Qui suis-je ?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col text-justify">

        <p>
        La podologie du sport, la posturologie, la pédo-podologie, le syndrome du pied diabétique ont été mes spécialités des années durant. Régulièrement, je les ai approfondies lors de congrès et de groupes d'études pluridisciplinaires, aux fins de dégager des perspectives cliniques et thérapeutiques davantage bénéfiques pour mes patients.
        </p>

        <p>
Depuis un peu plus de dix ans, la traduction médicale et juridique est devenue ma préférence et, comme l'activité médicale, elle requiert concentration, méthode, théorie et pratique. Également diplômée de l'université Lumière Lyon 2 en traduction et linguistique, j'ai souhaité créer un pont entre ces deux métiers. Je retrouve ici l'exigence de la réflexion, du diagnostic, de la recherche.
        </p>

        <p>
Plus nous connaissons un domaine, plus nous avons conscience de sa dimension et de sa complexité. C'est pourquoi j'accorde tout le soin nécessaire à vos documents, dans le respect absolu du secret professionnel.
        </p>



      </div>
    </div>
  </div>
</section>
